body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;

}

header {
    background-color: #13b9e3;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #8de5fa;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

main {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #13b9e3;
    color: white;
    text-align: center;
    padding: 8px;
    position: absolute;
    bottom: 0;
    width: 100%;
}